.heading{
    background-color:antiquewhite;
    color:grey;
    width: 100%;
}
#squareSize{
    font-size: 25;
}
#note{
    font-size: 15;
}
.copy_right_footer{
    width: 100%;
    text-align: center;
    position: fixed;
    background-color: antiquewhite;
    bottom: 0px;
}